//  Entire container for cases
.box-container {
  max-width: 1350px;
  margin: 60px auto 45px auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 5px;
  justify-content: space-around;
  align-items: center;
}

// Each individual case
.box {
  cursor: pointer;
  flex-basis: 33.333333%;
  background-color: $white;
  font-family: $helvetica;
  margin: 20px 10px 35px;
  padding: 50px 0 20px;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgb(227, 235, 238);
  min-width: 320px;
  max-width: 380px;
  min-height: 250px;
  max-height: 320px;
  text-align: center;
}

// Entire case hover
.box:hover {
  min-height: 247px;
  max-height: 317px;
  border-top: 3px solid $box-hover-top-border;
  border-bottom: -3px;
}

// Case H "BOX NUMBER #"
.box-h {
  // display: flex;
  color: $box-h;
  font-size: 30px;
  font-weight: 200;
  margin: 25px auto 20px;
  // justify-content: center;
  text-align: center;
}

// Case H hover
.box:hover .box-h {
  color: $box-hover-h;
}

// Case P "USELESS SUBTEXT"
.box-p {
  // display: flex;
  text-align: center;
  color: $box-p;
}

// Case P hover
.box:hover .box-p {
  color: $box-hover-p;
}

// Case Button Styled and Hidden
.box-b {
  display: none;
  margin-top: 80px;
  width: 80%;
  position: relative;
  font-size: 14px;
  border: none;
  background-color: $btn-gray;
  color: $white;
  height: 60px;
}

// Case Button hover (revealed and positioned)
.box:hover .box-b {
  display: block;
  margin: 80px auto 0 auto;
}

@media (max-width: 1024) {
  .box-b {
    width: 80%;
    position: relative;
    font-size: 14px;
    border: none;
    background-color: $btn-gray;
    color: $white;
    height: 60px;
    display: block;
    margin: 80px auto 0 auto;
  }
  .box-p {
    color: $box-hover-p;
  }
}

@media (max-width: 420px) {
  .box-container {
    padding: 15px 0;
    margin-left: 0;
    margin-right: 0;
  }
  .box {
    // max-width: 150px;
    padding: 20px;
  }
}
