.btn-container {
  position: relative;
  display: flex;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 10;
}

.btn {
  font-family: $helvetica;
  font-weight: 200;
  cursor: pointer;
  height: 60px;
  width: 180px;
  border: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: $white;
  background-color: $btn-gray;
}

.btn:hover {
  // font-family: $helvetica;
  font-weight: 400;
  // cursor: pointer;
  // height: 60px;
  // width: 180px;
  // border: none;
  // font-size: 16px;
  // padding: 0;
  // margin: 0;
  background-color: $btn-canary;
  color: $btn-gray;
}

// .select {
//   font-weight: 400;
//   background-color: $btn-canary;
//   color: $btn-gray;
// }
