// Header Container
.hero {
  background-image: url('../assets/bg_mtns.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
  color: $white;
  position: relative;
}

// Div containing H1 and P (Why Hello There? and Lorem)
.hero-text {
  text-align: center;
  position: absolute;
  top: 35%;
  left: auto;
  padding: 0 200px;
}

// H1 (Why Hello There?)
.hero-h {
  font-size: 50px;
  letter-spacing: 1.5;
}

// P Lorem
.hero-p {
  font-family: $helvetica;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.5;
  color: $background;
  margin-top: 18px;
}

// Span for Home Link
.home {
  color: $btn-canary;
}

// Nav - top right
nav ul {
  position: absolute;
  top: 70px;
  right: 60px;
  list-style-type: none;
}

// Items in the Nav UL (Home Away)
li {
  margin-left: 50px;
  display: inline-block;
}

// Links in the Nav
a {
  font-family: $helvetica;
  font-size: 18px;
  text-decoration: none;
  color: $white;
}

// Span - Top Left Text
.logo-design-span {
  color: $btn-canary;
  font-weight: normal;
}

// Top Left Text
.logo-design {
  font-family: $helvetica;
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 60px;
  font-weight: bold;
}
