// Colors
$white: rgb(255, 255, 255);
$btn-gray: rgb(105, 101, 121);
$btn-canary: rgb(252, 236, 202);
$background: rgba(239, 241, 245, 0.7);
$box-h: rgb(170, 174, 182);
$box-p: rgb(105, 100, 121);
$screen: rgba(105, 101, 121, 0.95);

// Font
$helvetica: 'Helvetica', 'Arial', sans-serif;

// Case hover colors
$box-hover-h: rgb(202, 169, 125);
$box-hover-p: rgb(29, 49, 76);
$box-hover-top-border: rgb(29, 49, 76);
