// Variables
@import './variables';

* {
  margin: 0;
}

body {
  box-sizing: border-box;
  background-color: $background;
}

// Header Section
@import './hero-header';

// Button Box
@import './button-box';

// Content Cases
@import './box-section';
